// Colors
$primary-color: #0d0d0f; // Bg color of cards, serach bar background color
$text-color: #FFFFFF;
$secondary-Text-color: #aab3bb; // light text like tab items, source name, time
$accent-color: #a636ba;
$background-color: #1d1f20; //BG color of screen, navbar
$link-color: #a84bb9;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border Radius
$border-radius: 5px;

// Shadows
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

// How to use?:

// background-color: $background-color;
// color: $text-color;
// padding: $spacing-medium;
