// Colors
$primary-color: #241C29; // Bg color of cards, serach bar background color
$text-color: #FFFFFF;
$secondary-Text-color: #e8d6f3; // light text like tab items, source name, time
$accent-color: #3B005C;
$background-color: #140F17; //BG color of screen, navbar
$link-color: #a84bb9;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border Radius
$border-radius: 5px;

// Shadows
$box-shadow: 0 4px 5px rgba(255, 255, 255, 0.2);

// How to use?:

// background-color: $background-color;
// color: $text-color;
// padding: $spacing-medium;
