// Specific CSS for your home-page

body {
  background-color: $background-color;
}

.banner {
  width: 100%;
  background-image: image_url("placeholder-home2.png");
  background-size: cover;
  display: flex;
  padding: $spacing-large $spacing-medium;
}

.box {
  max-width: 50vw;
  margin: $spacing-large $spacing-small;
  padding: $spacing-medium;
  background-color: $primary-color;
  word-wrap: normal;
  opacity: 0.8;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.box p {
  color: $secondary-Text-color
}

@media screen and (min-width: 600px) {
  .banner {
    height: 80vh;
    width: auto;
  }

  .box {
    height: 30vh;
    width: auto;
    }
  }

.container p {
  color: $secondary-Text-color
}

.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 5%;
  padding: $spacing-large;
  margin: $spacing-small;
}

.container img {
  width: 35vw;
}

@media (max-width: 768px) {

  .container {
    grid-template-columns: 1fr 1fr;
  }

  .container img {
    width: 40vw;
  }
}

@media (max-width: 600px) {

  .container {
    grid-template-columns: 1fr;
  }

  .container img {
    width: 70vw;
  }
}
