// Import page-specific CSS files here.
@import "home";
@import "showpage";
@import "profile";

.article-card h5 {
  color: $text-color;
}

.article-card {
 background-color: $primary-color;
 border-radius: $border-radius;
 margin-bottom: $spacing-large;
 box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 animation: fadeInUp 1s ease-in-out;
//  animation: fadeInUp 0.5s ease forwards;
 position: relative;
 overflow: hidden;
}

.article-card:hover {
  transform: translateY(-5px);
  // transform: scale(1.05);
  // box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
}

.article-content {
  padding: $spacing-small $spacing-medium;
  position: relative;
  z-index: 2;
}

.wrap {
  padding-top: $spacing-medium;
  padding-left: $spacing-large;
  padding-right: $spacing-large;
  margin: $spacing-small;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  padding: $spacing-small;
  margin: $spacing-medium;
  word-wrap: normal;
}

.grid img {
  width: 200px;
  height: 140px;
  object-fit: cover;
  border-radius: $border-radius;
}

@media (max-width: 760px) {

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid img {
    width: 200px;
    height: 140px;
    object-fit: cover;
  }
}

@media (max-width: 570px) {

  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .grid img {
    width: 200px;
    height: 140px;
    object-fit: cover;
  }
}

@media (max-width: 450px) {

  .grid {
    grid-template-columns: 1fr;
  }
  .grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.grid p {
  color: $secondary-Text-color;
  margin-bottom: 0;
}

.categories.wrap a {
  // color: $text-color;
  color: $secondary-Text-color;
}

.categories a.active {
  color: $text-color;
}

.categories {
  text-wrap: nowrap;
  // color: $secondary-Text-color;
  // overflow: scroll;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
