.article-image{
  width: 100%
}

.article-info{
  color: $text-color;
  margin: $spacing-medium;
  margin-bottom: 0px;
}
.article-info h5{
  color: $text-color;
}
.article-content-show {
  padding: 0px;
  color: $text-color;
  opacity: 0.9;
}
.original-article {
  color: $accent-color;
}

.fake-news-bar{
  box-sizing: border-box;
  height: 4px;
  background-color: $text-color;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.fake-news-bg-bar {
  box-sizing: border-box;
  width: 85vw;
  height: 4px;
  margin-right: 10px;
  background-color: $text-color;
  opacity: 50%;
  border-radius: 5px;
  box-shadow: $box-shadow;
}
#meter{
  font-size: $font-size-small;
  color: $text-color;
}
.suggested_articles{
  margin-top: $spacing-large;
  text-align: center;
}
.listed-suggested-article {
  border-style: solid;
  border-width: 1px;
  border-color: $accent-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: $spacing-small;
  padding: $spacing-small;
  display: grid;
  grid-template-columns: 1fr 14fr;
  grid-gap: $spacing-small;
  word-break: break-word;
  color: $secondary-Text-color
}

.listed-suggested-article h3 {
  color: $text-color;
  margin-right: $spacing-small;
}

.listed-suggested-article p {
  margin-bottom: 0px;
}

.listed-suggested-article .icon {
  align-items: center;
  display:flex;
  align-items:center;
}

.listed-suggested-article .icon span {
  position: relative;
  vertical-align: middle;
}
.listed-suggested-article .icon img {
  width: 30px;
  height:auto;
  object-fit: contain;
}
.comment {
  position: relative;
}
.comment .fa-xmark {
  color: #ff0909;
  position: absolute;
  right: 10px;
  top: 20px;
}
.new_comment textarea {
  width: 100%;
  background: transparent;
  color: white;
  padding:2px;
  z-index: 12;
}
.new_comment textarea:focus {
  background: white;
  color: black;
}
.new_comment input {
  width: 100%;
}
.new_comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 7px;
  border-radius:$border-radius;
}
.t-small {
  font-size: 12px;
}
.article-header {
  display: flex;
  padding: $spacing-small $spacing-medium;
  text-align: center;
}
.comments {
  margin:20px;
}

.show-link {
  color: $text-color;
}
