<nav class="navigation-bar">
  <% if show_back_button %>
    <i onclick="history.back()" class="navigation-bar__icon navigation-bar__icon--back fas fa-arrow-left"></i>
  <% end %>
  <h1 class="navigation-bar__title"><%= navigation_bar_title %></h1>
  <i class="navigation-bar__icon navigation-bar__icon--search fas fa-search"></i>
</nav>
