<h4 class="mt-5">User comments :</h4>
<% @comments.reverse_each do |comment| %>
    <div class="py-2 comment">
      <% if comment.user_id == current_user.id %>
        <%= link_to ("<small><i class='fa-solid fa-trash'></i></small>").html_safe, article_comment_path(comment.article, comment.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete your comment ?"} %>
      <% end %>
      <p class="mb-0"><%= User.find(comment.user_id).username %></p>
      <p class="t-small"><%= comment.created_at.strftime("%b %d, %Y at %I:%M %p") %></p>
      <p>"<%= comment.content %>"</p>
    </div>
  <% end %>
