<div data-controller="articles-category">
<%# render category bar %>
<div class="categories p-2">
  <% @categories.uniq.each do |category| %>
    <a data-action="click->articles-category#update" data-articles-category-cate-param="<%= category %>" href=""><%= category.split("/")[1] %></a>
  <% end %>
</div>

<%# cards in general / per category %>
  <%= render "list", articles: @articles %>
</div>
