<div data-controller="articles-category">
<%# render category bar %>
<div class="categories wrap">
  <a data-action="click->articles-category#update" data-articles-category-cate-param="all" href="">All articles</a>
  <% @categories.uniq.each do |category| %>
    <a data-action="click->articles-category#update" data-articles-category-cate-param="<%= category %>" href="">&emsp;||&emsp;<%= category.split("/")[1] %></a>
  <% end %>
</div>

<%# cards in general / per category %>
  <%= render "list", articles: @articles %>
</div>
