<div class="tab-bar" data-controller="tab-bar">
  <ul class="tab-bar__nav" >

    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link" data-action="click->tab-bar#selectTab" data-tab-bar-target="navLink">
        <i class="fa-solid fa-house"></i>
        Home
      </a>
    </li>

    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link" data-action="click->tab-bar#selectTab" data-tab-bar-target="navLink">
        <i class="fa-solid fa-magnifying-glass"></i>
        Explore
      </a>
    </li>

    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link" data-action="click->tab-bar#selectTab" data-tab-bar-target="navLink">
        <i class="fa-regular fa-bookmark"></i>
        Saved
      </a>
    </li>

    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link" data-action="click->tab-bar#selectTab" data-tab-bar-target="navLink">
        <i class="fa-regular fa-user"></i>
        Profile
      </a>
    </li>
    
  </ul>
</div>
