<div class="tab-bar">
  <ul class="tab-bar__nav">
    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link">
        <%# <img src="path/to/home-icon.svg" alt="Home"> %>
        <i class="fa-solid fa-house"></i>
        Home
      </a>
    </li>

    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link">
        <i class="fa-solid fa-magnifying-glass"></i>
        Explore
      </a>
    </li>

    <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link">
        <i class="fa-regular fa-bookmark"></i>
        Saved
      </a>
    </li>

     <li class="tab-bar__nav-item">
      <a href="#" class="tab-bar__nav-link">
        <i class="fa-regular fa-user"></i>
        Profile
      </a>
    </li>

  </ul>
</div>
