<div class="banner">
  <div class="box">
    <h1>CYB News</h1>
    <p>Check your biases. Prevent fake news.</p>
    <%= link_to "Discover", articles_path, class: "glow" %>
  </div>
</div>
<div class="container">
  <div><h2>We check news for you</h2><br></div>
  <div></div>
  <div>
    <%= image_tag "About-us.png" %>
  </div>
  <div>
    <br>
    <p>We use artificial intelligence to analyse news and check if they can be trusted or not. We use the classifications: "most likely true", "possibly true" "most likely false" and "possibly false". And we also give you a percentage value. It shows how accurate our classification is. So you can make up your mind about the news you see. You can also log in and check articles you found elsewhere.</p>
    <%= link_to ">> Browse news", articles_path %>
    <br>
    <%= link_to ">> Check an article you found", new_user_article_path %>
  </div>
</div>
