<div class="my-4">
  <ul>
    <% @bookmarks.reverse_each do |bookmark|%>
      <li>
        <%= link_to bookmark.favoritable.title, article_path(bookmark.favoritable.id) %></p>
        <p></p>
      </li>
    <% end %>
  </ul>
</div>
