.navigation-bar {
  background-color: $background-color;
  color: $text-color;
  padding: $spacing-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba($text-color, 0.2);
  box-shadow: $box-shadow;
}
.navigation-bar h1 {
  margin:0;
}
.navigation-bar__title {
  font-size: $font-size-large;
  font-weight: bold;
}

.navigation-bar__icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.navigation-bar__icon--search {
  color: $text-color;
}

.navigation-bar__icon--back {
  color: $text-color;
}

.navigation-bar_search {
  display: flex;
  width: 100%;
  align-items:center;
  background-color: #584a5b;
  padding: 7px;
  border-radius: $border-radius;
}

.navigation-bar_search form {
  flex-grow:1;
}

.navigation-bar_search form input, .navigation-bar_search form button {
  background: transparent;
  border: 0;
  color: white;
  padding: 5px;
}

.navigation-bar_search form input:focus, .navigation-bar_search form input:focus-within {
  background:transparent;
  border: 0;
  color: white;
}

.navigation-bar_search i {
  padding-right: 5px;
  padding-left: 5px;
}

// Responsive styles for mobile (adjust breakpoints as needed)
@media (max-width: 768px) {
  .navigation-bar__title {
    font-size: 1.2rem;
  }
}
