
.listed-user-article {
  border-style: solid;
  border-width: 1px;
  border-color: $accent-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: $spacing-small;
  padding: $spacing-small;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr;
  grid-gap: $spacing-small;



}

.listed-user-article h2 {
  color: $text-color;
}

.listed-user-article p {
  margin-bottom: 0px;
}

.listed-user-article .bubble {
  align-items: center;
  display:flex;
  align-items:center;
}

.listed-user-article .bubble span {
  position: relative;
  vertical-align: middle;
}
.listed-user-article .bubble img {
  width: 25px;
  height:auto;
  object-fit: contain;
}
